{% extends "layout.html" %}
{% block body %}
<div class="jumbotron">
  <h3>Hakkımda</h3>
  <hr>
  <p>Herkese merhaba. Ben İhsan Can. Gökkuşağı Kolejinde 7. sınıfta okuyorum. Cidde, Suudi Arabistan'da doğdum. Eylül 2019'da
     İstanbul'a taşındık. Yazılıma ilk olarak C ile başladım. C'nin temellerini kafama oturtunca, Udemy'deki
     "Sıfırdan İleri Seviye Programlama" kursunu katıldım. Ve şuan Python hakkında
     epey bir bilgim var. HTML ve Java Programlama hakkında'da az çok bilgim var. Bu Python kursunu bitirdikten sonra, C#
     öğrenmeyi düşünüyorum. Hayalim Yazılımcı olup, çok iyi seviyeleri gelip, kullanışlı programlar yazmak istiyorum.
  </p>
</div>
{% endblock body %}